<!DOCTYPE html>
<html>

<head>

    <meta charset="UTF-8">

    <title>Simple ChatBot</title>

    <link rel="stylesheet" href="/static/chatbot/chatbot.css">

</head>

<body>

<div class="container">

    <h2>Simple ChatBot</h2>

    <div id="chat"></div>

    <div class="input-row">

        <input
            id="message"
            placeholder="Type your message..."
        >

        <button onclick="sendMessage()">
            Send
        </button>

    </div>

</div>

<script src="static/chatbot/chatbot.js"></script>

</body>

</html>